<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Какашечки</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h1>File Storage</h1>
            <nav>
                <ul>
                    <li><a href="#" id="files-link" class="active">Files</a></li>
                    <li><a href="#" id="upload-link">Upload</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <section id="disk-usage" class="disk-usage">
                <h2>Disk Usage</h2>
                <div id="disk-usage-info"></div>
            </section>
            <section id="files-section" class="files-section">
                <h2>Files</h2>
                <ul class="file-list" id="file-list">
                </ul>
            </section>
            <section id="upload-section" class="upload-section" style="display: none;">
                <h2>Upload File</h2>
                <form id="upload-form" enctype="multipart/form-data">
                    <div class="file-input-wrapper">
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file">Choose a file</label>
                    </div>
                    <div id="file-preview"></div>
                    <button type="submit">Upload</button>
                </form>
            </section>
        </main>
    </div>
    <div id="notification" class="notification"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
